
#main {
	h1 {
		font-size: 1.5em;
	}
	
	h2 {
		font-size: 1.3em;
	}
	
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	
	&-note {
		background-color: red;
	}
	
	p.note {
		font: 12px fantasy {
			weight: bold;
		}
	}
}
