$color: white;
$baseFontSize: 12px !default;

body {
	background-color: $color;
	font-size: $baseFontSize;
}

$baseFontSize: 14px;
div.content {
	$width: 1024px !global;
	font-size: $baseFontSize;
	max-width: $width;
}

div.header {
	max-width: $width;
}

@mixin button-style {
  $btn-bg-color: lightblue !global;
}

.wrap {
  // 如果不引用，变量 $btn-bg-color 不生效
  @include button-style;
  background: $btn-bg-color;
}